&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="ie=edge"&gt;
  &lt;title&gt;Document&lt;/title&gt;
  &lt;script src="js/vue.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="app"&gt;
  &lt;ul&gt;
    &lt;li v-for="(score,i) of scores" :key="i"&gt;
      &lt;span v-if="score&gt;=60"&gt;及格&lt;/span&gt;&lt;span v-else&gt;不及格&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
new Vue({
  el:"#app",
  data:{
    scores:[89,50,65,59]
  }
})
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;