<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <title></title>
    <style>
		pre{
			white-space: pre-wrap; /*css-3*/ 
			white-space: -moz-pre-wrap; /*Mozilla,since1999*/ 
			white-space: -pre-wrap; /*Opera4-6*/ 
			white-space: -o-pre-wrap; /*Opera7*/ 
			word-wrap: break-word; /*InternetExplorer5.5+*/ 
		}
    </style>
</head>
<body>
<pre>
var todoAdd={
  template:`
  &lt;div&gt;
    &lt;input v-model="task"&gt;&lt;button @click="add"&gt;+&lt;/button&gt;
  &lt;/div&gt;`,
  props:["tasks"],
  data(){ 
    return {
      task:""
    } 
  },
  methods:{
    add(){
      if(this.task.trim()!==""){
        this.tasks.push(this.task);
        this.task="";
      }
    }
  }
}
</pre>
</body>
</html>