html{
			width:100%;
			height:100%
		}
		body{
			width:100%;
			height:100%;
			padding:0;
			margin:0;
		}
		#app{
			width:100%;
			position:relative;
			box-sizing:border-box;
			padding:0;
			margin:0 auto;
			padding:2%;
			}
		.p_rela{
			position:relative;
		}
		.p_rela>span{
			position:absolute;
			right:0;
			display:block;
			width:30px;
			height:30px;
		}
		.p_rela_1>span{
			bottom:0;
		}
		.p_rela_2>span{
			top:0;
		}
		.t_title,.t_content{
			width:100%;
			border-radius:5px;
			box-sizing:border-box;
			color:grey;
		}
		.t_title{
			height:30px;
		}
		.t_content{
			box-sizing:border-box;
			margin-bottom:60px;
		}
		.submit{
			
			display:block;
			width:96%;
			background:#3c7ce5;
			color:white;
			border:none;
			border-radius:5px;
			font-size:24px;
			position:absolute;
			bottom:0;
			left:2%;
			padding:10px;
		}
		b{
			display:block;
			margin:10px 0;
			color:blue;
		}
		.p_fix{
			position:fixed;
			top:30%;
			left:50%;
			width:180px;
			height:80px;
			transform:translateX(-90px);
			background:rgba(0,0,0,0.7);
			line-height:80px;
			text-align:center;
			border-radius:5px;
			color:white;
			font-size:24px;
			z-index:999;
		}
		.c_red{
			color:red;
		}
		.c_white{
			color:white;
		}
		.c_green{
			color:green;
		}
		.page_t{
			text-align:center;
		}
		.page_title{
			text-align:center;
			font-size:18px;
		}
		.color_grey_t,.color_grey_c{
			color_grey;
		}
		.color_black_t,.color_black_c{
			color:black;
		}
		@media screen and (min-width:768px){
			#app{
			width:60%;
			margin:auto;
			}
		}
		@media screen and (max-width:767px){
			#app{
			width:100%;
			margin:auto;
			}
		}
		/*
		@media screen and (min-device-width:768px){
			#app{
			width:60%;
			margin:auto;
			}
		}
		*/
		@media screen and (max-device-width:767px){
			#app{
			width:100%;
			margin:auto;
			}
		}