*{
	word-wrap: break-word;
	word-break: break-all;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
div#main_title{
			text-align:center;
			font-size:60px;
			font-weight:bold;
		}
		div.box{
			border:2px solid black;
			margin:20px 0;
			border-radius:10px;
			width:100%;
		}
		img{
			display:inline-block;
			max-width:100%;
			margin:0;
			
		}
		pre{
		width:100%；
		padding:0;
		white-space: pre-wrap;
		word-wrap: break-word;
		}
		.fa{
		border:2px solid black;
		margin:20px 0;
		padding:0 20px;
		background:grey;
		color:white;
		}

		.fa>h1{
			color:yellow;
		}